@import "../../components/style/variables.scss";

button {
	color: black;
}
h3 {
	text-align: center;
	font-size: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	.exercise {
		display: flex;
		flex-direction: column;
		border-left: 5px solid $base-color1;
		margin: 20px;
		h4 {
			text-align: center;
			font-size: 25px;
			text-transform: uppercase;
			background-color: #6b7283;
		}
		table {
			border-collapse: collapse;
			th {
				text-transform: uppercase;
				padding: 10px;
				font-size: 20px;
			}
			td {
				padding: 10px;
				text-align: center;
				input,
				select {
					color: #000;
					margin: 0 auto;
					font-size: 20px;
					border: 3px solid $base-color1;
					border-radius: 10px;
					padding: 5px;
				}
				input[type="number"] {
					width: 4em;
				}
				option {
					color: #333;
				}
				button {
					border-radius: 10px;
					img {
						height: 25px;
						margin: 5px;
					}
				}
				.acceptButton {
					border: 3px solid $base-color1;
				}
			}
			.WorkoutSet:nth-child(even) {
				background-color: #6b7283;
			}
			.confirmed:nth-child(even) {
				background-color: #1c7a44;
			}
			.confirmed:nth-child(odd) {
				background-color: #14532f;
			}
		}
		.AddSet {
			margin: 0 auto;
			button {
				padding: 5px;
				font-size: 20px;
				margin: 10px;
			}
		}
		.DeleteExercise {
			margin: 0 auto;
			button {
				padding: 5px;
				font-size: 20px;
			}
		}
	}
	.ButtonWrapper {
		display: flex;
		width: 100%;
		justify-content: center;
		button {
			padding: 5px 100px;
		}
	}

	.redButton {
		color: #720303;
		background-color: #e79696;
		border: 3px solid #720303;
		border-radius: 10px;
	}
}

.selectorWrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #00000099;
	display: grid;
	place-items: center;
	img {
		height: 40px;
	}
	.exerciseSelector {
		background-color: $base-color1;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		.buttonWrapper {
			align-self: flex-end;
		}
		.exercise {
			margin: 10px;
			padding: 10px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			background-color: #386856;
			p {
				flex-basis: 80%;
				padding: 15px;
			}
		}
	}
}
